@model SpitalFinal.Models.ProgramLucru

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProgramLucru</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeZi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeZi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLibera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLibera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgramLucruId">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
