<style>
   
  

 
    h1 {
        font-family: Arial, sans-serif;
        color: #FFFF00;
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3, h4, h6 {
        color: turquoise;
    }

   
    body {
        background-image: url('@Url.Content("~/img/eye.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
  
    }




    <!--
    .img-BloodMoonZed {
        position: relative; /* Poziționează containerul relativ la fluxul normal al paginii */
    }

        .img-BloodMoonZed img {
            position: absolute; /* Poziționează imaginea absolut în cadrul containerului */
            top: 100px; /* Poziționează imaginea la 50px de partea de sus a containerului */
            left: 100px; /* Poziționează imaginea la 100px de partea stângă a containerului */
        }
        -->
    </style>
    <!DOCTYPE html>
    <html>
    <body>
<div class="img-BloodMoonZed">
    <!--<img src="~/img/eye.jpg" alt="WelCome" />-->
</div>
</body>
</html>

<h1 class="display-4">Welcome</h1>
<!--
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
